.profilePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePageContainer {
  width: 100%;
  min-height: 100vh;
}

.profileElementsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileElementsContainer {
  width: 100%;
  min-height: 100vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background: #bdbdbd;
}

.contentContainer {
  padding: 20px;
}
