.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerElement {
    padding-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}